extends ../../pug_parts/_article.pug

block var
    - var category_name = 'npm'
    - var path_name = 'npm-install'

block article
    p 公式サイト：#[a(href='https://nodejs.org/ja/download/') ダウンロード | Node.js]