-
    var articles = {
        pug: [
            {path: 'attributes',title: '属性の書き方',date: '2020-12-27'},
            {path: 'interpolation',title: '文の途中に入るタグ',date: '2020-12-28'}
        ],
        sass: [
            {path: 'each',title: 'eachを使う',date: '2020-03-30'},
            {path: 'not',title: 'notを使う',date: '2020-12-07'}
            ],
        sinatra: [
            {path: 'project',title: 'sinatraのプロジェクトを作る',date: '2020-03-24'},
            {path: 'bundler',title: 'bundlerを使う',date: '2020-03-25'},
            {path: 'rack',title: 'Rackを使う',date: '2020-03-26'},
            {path: 'sass',title: 'Sassを使う',date: '2020-03-28'},
            {path: 'git',title: 'gitを使う',date: '2020-03-29'},
            {path: 'heroku',title: 'Herokuを使う',date: '2020-03-31'}
        ]
        }